html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
}

.root-container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;
}
.root-container .main-push {
  height: 50px;
}

footer {
  clear: both;
  position: relative;
  height: 50px;
}

/* Font */
@font-face {
  font-family: Norpeth-Light;
  src: url(../assets/fonts/Norpeth-Light.otf);
}

@font-face {
  font-family: Norpeth-Medium;
  src: url(../assets/fonts/Norpeth-Medium.otf);
}

@font-face {
  font-family: Norpeth-Bold;
  src: url(../assets/fonts/Norpeth-Bold.otf);
}

body, h1, h2, h3, h4 {
  font-family: Norpeth-Medium;
}

/* Core styles */
* {
  box-sizing: border-box;
}

html, body {
  background: white;
  color: #505050;
  line-height: 175%;
  font-size: 17px;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
a:active, a:focus {
  outline: none;
}

a.link-underline {
  text-decoration: underline;
}

h1 {
  font-size: 250%;
  padding: 1em 0;
  color: #0fb3ab;
}

h2 {
  font-size: 140%;
  padding-bottom: .25em;
}

h3 {
  font-size: 120%;
  padding-bottom: .15em;
}

section {
  padding: 1em 0;
}

ul:not(.nav-tooltip) {
  padding: 10px 0 10px 40px;
}
ul:not(.nav-tooltip) li {
  list-style-type: square;
}

button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 70%;
  border: 0;
  background: transparent;
  padding: 10px;
  border: 2px solid #b8b8b8;
  color: #858585;
}

.light {
  font-family: Norpeth-Light;
}

.bold, h1, h2, h3 {
  font-family: Norpeth-Bold;
}

.normal {
  font-family: Norpeth-Medium;
}

.underline {
  border-bottom: 2px solid white;
}

.italic {
  font-style: italic;
}

/* Extra styles */
header {
  background: white;
  width: 100%;
  height: 100px;
  display: inline-flex;
  padding: 0 60px;
}
header .title {
  font-family: Norpeth-Medium;
  margin: auto 0;
  width: 30%;
  text-align: left;
  font-size: 175%;
}
header ul {
  margin: auto 0;
  width: 70%;
  font-size: 125%;
  text-align: right;
}
header ul li {
  margin: 0 10px;
  display: inline-block;
  /* Styling for individual links */
}
header ul li:nth-child(1) {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 3px solid #0fb3ab;
}
header ul li:nth-child(1):hover {
  color: #909090;
}
header ul li:nth-child(2) {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 3px solid #483f88;
}
header ul li:nth-child(2):hover {
  color: #909090;
}
header ul li:nth-child(3) {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 3px solid #203462;
}
header ul li:nth-child(3):hover {
  color: #909090;
}
header ul li:nth-child(4) {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 3px solid #42b649;
}
header ul li:nth-child(4):hover {
  color: #909090;
}
header ul li:nth-child(5) {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 3px solid #5c7fc0;
}
header ul li:nth-child(5):hover {
  color: #909090;
}
header ul li:nth-child(6) {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 3px solid #0fb3ab;
}
header ul li:nth-child(6):hover {
  color: #909090;
}

.nav-tooltip {
  font-size: 120%;
  font-family: Norpeth-Medium;
}
.nav-tooltip li {
  padding: 7px 3px;
  margin: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.container {
  width: 65%;
  margin: 0 auto 2em auto;
}
@media screen and (max-width: 1600px) {
  .container {
    width: 75%;
  }
}

.home-top {
  background: #f7f7f7;
}
.home-top .jumbotron {
  font-size: 135%;
  width: 65%;
  margin: 0 auto;
  height: 400px;
}
.home-top .jumbotron .jumbotron-left {
  padding-top: 146px;
  width: 65%;
  float: left;
}
.home-top .jumbotron .jumbotron-left .jumbotron-title {
  padding-bottom: 10px;
  font-size: 150%;
  font-family: Norpeth-Bold;
}
.home-top .jumbotron .jumbotron-right {
  padding-top: 60px;
  width: 35%;
  float: right;
  color: #203462;
  text-align: right;
}
.home-top .jumbotron .jumbotron-right .logo {
  width: 70%;
  height: auto;
}
@media screen and (max-width: 1600px) {
  .home-top .jumbotron {
    width: 75%;
  }
  .home-top .jumbotron .jumbotron-left {
    padding-top: 120px;
  }
}

.home-middle {
  text-align: center;
  padding-top: 30px;
}
.home-middle p {
  font-size: 175%;
}

.home-bottom article {
  width: 65%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding: 30px 0;
}
.home-bottom article section {
  width: 47.5%;
}
.home-bottom article section:nth-child(1) {
  float: left;
}
.home-bottom article section:nth-child(2) {
  float: right;
}
@media screen and (max-width: 1600px) {
  .home-bottom article {
    width: 75%;
  }
}

.credit {
  color: #203462;
}

.quality {
  color: #42b649;
}

.marketing, .light-blue {
  color: #5c7fc0;
}

.workforce-dev {
  color: #0fb3ab;
}

.finance {
  color: #483f88;
}

footer {
  color: white;
  background: #a6b9dc;
}
footer .footer-text {
  padding-top: 10px;
  width: 65%;
  margin: 0 auto;
}
@media screen and (max-width: 1600px) {
  footer .footer-text {
    width: 75%;
  }
}
