@import "compass/reset";
@import "compass/typography/links/unstyled-link";
@import "compass/css3";
@import "compass/layout/sticky-footer";
@import "compass/utilities/general/clearfix";

@include sticky-footer(50px, ".root-container", ".main-push", "footer");

/* Font */
@font-face {
	font-family: Norpeth-Light;
	src: url(../assets/fonts/Norpeth-Light.otf);
}
@font-face {
	font-family: Norpeth-Medium;
	src: url(../assets/fonts/Norpeth-Medium.otf);
}
@font-face {
	font-family: Norpeth-Bold;
	src: url(../assets/fonts/Norpeth-Bold.otf);
}

body, h1, h2, h3, h4 {
	font-family: Norpeth-Medium;
}

///////////////
// Sass Vars //
///////////////

// Colours
$ybc-green: rgb(66, 182, 73);
$ybc-light-blue: rgb(92, 127, 192);
$ybc-purple: rgb(72, 63, 136);
$ybc-turquoise: rgb(15, 179, 171);
$ybc-dark-blue: rgb(32, 52, 98);
$background: white;
$background-alt: darken($background, 3%);

// Colour Alias'
$quality: $ybc-green;
$marketing: $ybc-light-blue;
$finance: $ybc-purple;
$workforce-dev: $ybc-turquoise;
$credit: $ybc-dark-blue;

// Text
$text-main: rgb(80,80,80);

// Width
$width-default: 65%;

////////////
// Mixins //
////////////
@mixin header-link-border($color) {
	@include transition(.5s);
	border-bottom: 3px solid $color;
	&:hover {
		color: lighten($text-main, 25%);
	}
}


/* Core styles */
* { box-sizing: border-box; }

html, body {
	background: $background;
	color: $text-main;
	line-height: 175%;
	font-size: 17px;
}

a {
	@include unstyled-link();
}

a.link-underline {
	text-decoration: underline;
}

h1 {
	@extend .bold;
	font-size: 250%;
	padding: 1em 0;
	color: $ybc-turquoise;
}

h2 {
	@extend .bold;
	font-size: 140%;
	padding-bottom: .25em;
}

h3 {
	@extend .bold;
	font-size: 120%;
	padding-bottom: .15em;
}

section {
	padding: 1em 0;
}

ul:not(.nav-tooltip) {
	padding: 10px 0 10px 40px;
	li {
		list-style-type: square;
	}
}

button {
	@include border-radius();
	margin: 10px 0;
	$button-color: darken($background-alt, 25%);
	font-size: 70%;
	border: 0;
	background: transparent;
	padding: 10px;
	border: 2px solid $button-color;
	color: darken($button-color, 20%);
	
}

.light { font-family: Norpeth-Light; }
.bold { font-family: Norpeth-Bold; }
.normal { font-family: Norpeth-Medium; }
.underline { border-bottom: 2px solid white; }
.italic { font-style: italic; }


/* Extra styles */
header {
	background: $background;
	width: 100%;
	height: 100px;
	display: inline-flex;
	padding: 0 60px;
	.title {
		font-family: Norpeth-Medium;
		margin: auto 0;
		width: 30%;
		text-align: left;
		font-size: 175%;
	}
	ul {
		margin: auto 0;
		width: 70%;
		font-size: 125%;
		text-align: right;
		li {
			margin: 0 10px;
			display: inline-block;

			/* Styling for individual links */
			&:nth-child(1) { @include header-link-border($ybc-turquoise); }
			&:nth-child(2) { @include header-link-border($ybc-purple); }
			&:nth-child(3) { @include header-link-border($ybc-dark-blue); }
			&:nth-child(4) { @include header-link-border($ybc-green); }
			&:nth-child(5) { @include header-link-border($ybc-light-blue); }
			&:nth-child(6) { @include header-link-border($ybc-turquoise); }
		}
	}
}

.nav-tooltip {
	font-size: 120%;
	font-family: Norpeth-Medium;
	li {
		padding: 7px 3px;
		margin: 6px;
		border-bottom: 1px solid rgba(255,255,255,.25);
	}
}

.container {
	width: $width-default;
	margin: 0 auto 2em auto;
	@media screen and (max-width: 1600px) {
		width: $width-default + 10%;
	}
}

.home-top {
	background: $background-alt;
	.jumbotron {
		font-size: 135%;
		width: $width-default;
		margin: 0 auto;
		height: 400px;
		.jumbotron-left {
			padding-top: 146px;
			width: $width-default;
			float: left;
			.jumbotron-title {
				padding-bottom: 10px;
				font-size: 150%;
				font-family: Norpeth-Bold;
			}

		}
		.jumbotron-right {
			padding-top: 60px;
			width: 35%;
			float: right;
			color: $ybc-dark-blue;
			text-align: right;
			.logo {
				width: 70%;
				height: auto;
			}
		}
		@media screen and (max-width: 1600px) {
			width: $width-default + 10%;
			.jumbotron-left { padding-top: 120px; }
		}
	}
}

.home-middle {
	text-align: center;
	padding-top: 30px;
	p {
		font-size: 175%;
	}
}

.home-bottom {
	article {
		width: $width-default;
		margin: 0 auto;
		@include clearfix();
		padding: 30px 0;
		section {
			width: 47.5%;
			&:nth-child(1) {
				float: left;
			}
			&:nth-child(2) {
				float: right;
			}
		}
		@media screen and (max-width: 1600px) {
			width: $width-default + 10%;
		}
	}
}

.credit { color: $credit }
.quality { color: $quality }
.marketing { color: $marketing }
.workforce-dev { color: $workforce-dev }
.finance { color: $finance }

.light-blue { @extend .marketing; }

// Decide on the right colour
footer {
	color: $background;
	background: lighten($ybc-light-blue, 20%);
	.footer-text {
		padding-top: 10px;
		width: $width-default;
		margin: 0 auto;
		@media screen and (max-width: 1600px) {
			width: $width-default + 10%;
		}
	}
}


